<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3da3a5bf5b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>My Favorite Movie</title>
</head>
<body>
    <div class="container">
        <div class="from-container">
            <form action="/search" method="POST">
                <input type="text" name="movieTitle" placeholder="Find a movie">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="movie-card">
            <h2 class="movie-title"><%= dataToRender.title %></h2>
            <p class="movie-genres">
                <span class="movie-rating">PG-13</span>
                <span class="release-date"><%= releaseYear %>. </span>
                <span class="genres"><%= genres %></span>
                <span class="movie-duration"><%= dataToRender.runtime %> minutes. </span>
            </p>
            <div class="movie-poster-container">
                <img class="movie-poster" src="<%= poster %>" alt="">
            </div>
            <div class="movie-info-container">
                <p class="movie-info-quote"><%= dataToRender.tagline %></p>
                <h2 class="movie-info-overview-title">overview</h2>
                <p class="movie-info-overview"><%= dataToRender.overview %></p>
                <div class="movie-info-actions">
                    <ul>
                        <li><a href="#" class="add-fav"><i class="fas fa-heart"></i></a></li>
                        <li><a href="#" class="add-bookmark"><i class="fas fa-bookmark"></i></a></li>
                        <li><a href="#" class="rate-movie"><i class="fa-solid fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="chat-container">
            <iframe
                allow="microphone;"
                width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/54f60886-7d1c-4ee6-9af7-b851a33000b8">
            </iframe>
        </div>
        <footer>
            <h3>Find me to discuss the movie</h3>
            <ul>
                <li> <a href="#">Twitter <i class="fa-brands fa-twitter"></i></a></li>
                <li> <a href="#">Instagramm <i class="fa-brands fa-instagram"></i></a></li>
                <li> <a href="#">Facebook <i class="fa-brands fa-facebook"></i></a></li>
            </ul>
            <p>Priit Print. &#169; <span class="year"><%= year %></span></p>
        </footer>
        <div class="chat-container">
            <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/63ada5ed-ee7f-4c73-b643-fb75bb41b2f1">
        </iframe>
    </div>

</body>
</html>

</body>
</html>